doctype html
html 
    head(lang="fr")
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(href="Css/Style.css" rel="stylesheet")
        block head
            title "Default title"

    body
        block content            